[Desktop Entry]
Type=Application
Version=1.0
Name=Retro Imager
Name[zh_CN]=树莓派启动盘制作工具
Comment=Retro Imager
Comment[zh_CN]=树莓派启动盘制作工具
Icon=icon
Exec=retro-imager %F
Categories=Utility
StartupNotify=false
